thead {
    background-color: #CCC;
}

tbody {
    background-color: #EEE;
}

table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
}

.center-text {
    text-align: center;
}

.justify-text {
    text-align: justify;
}

img {
    width: 100px;
    height: ;
}

/* a::after {
    content: attr(href)
} */