#fallacies {
    margin-left: 20px;
}

body {
    background-color: #7ebbee;
}

main {
    width: 50%;
    margin: auto;
    max-width: 800px;
    background-color: #6daadd;
    padding: 15px;
    border-radius: 15px;
    border-color: #5c99cc;
    border-style: solid;
}

h3 {
    text-decoration: underline;
}

p {
    border-radius: 15px;
    background-color: #5c99cc;
    padding: 15px;
    border-color: #6b88bb;
    border-style: solid;
}

a {
    color: inherit;
}