.content {
    width: 50%;
    max-width: 600px;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
}

blockquote {
    background-color: whitesmoke;
    border-style: groove;
}

.center {
    display: block;
    margin: auto;
    max-width: 100%
}