.content {
    width: 50%;
    max-width: 600px;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
}

blockquote {
    background-color: whitesmoke;
    border-style: groove;
}

.center {
    display: block;
    margin: auto;
    max-width: 100%
}

/* .click-zoom input[type=checkbox] {
  display: none
}

.click-zoom img {
  margin: auto;
  transition: transform 0.25s ease;
  cursor: zoom-in
}

.click-zoom input[type=checkbox]:checked~img {
  transform: scale(1.5);
  cursor: zoom-out
} */
